a {
    text-decoration: none;
    color: $colour-black;
}
.btn {
    @include btn;
}
.noselect {
    @include noselect;
}

.inactive-animation {
    opacity: 0;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.display-flex {
    display: flex;
}
.scrollbar-y {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
    &::-webkit-scrollbar {
        width: 9px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        border: transparent;
    }
}

.color {
    &--ing {
        background-color: $colour-secondary-blue;
    }
    &--app {
        background-color: $colour-secondary-green;
    }
    &--ute {
        background-color: $colour-secondary-orange;
    }
}