header a:hover > img {
    animation: tilt-shaking 200ms;
    animation-iteration-count: 2;
}

.searchbar {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 70px;
    &__input {
        flex-grow: 1;
        background-color: lighten($color: #000000, $amount: 90);
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 0 24px;
        transition: all 300ms;
        &:focus {
            outline: none;
            background-color: lighten($color: #000000, $amount: 85);
        }
        &::placeholder {
            opacity: 0.4;
        }
    }
    &__button {
        cursor: pointer;
        width: 70px;
        border: none;
        background-color: lighten($color: #000000, $amount: 90);
        border-radius: 0 5px 5px 0;
        font-size: 1.8em;
        &__icon {
            transition: all 200ms;
        }
        &:hover > &__icon {
            transform: scale(1.1);
        }
    }
}

.filters {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__active {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        &__category {
            display: flex;
            border-radius: 5px;
        }
        &__icon {
            transition: all 200ms;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        &__category {
            border-radius: 5px;
            &--open {
                width: 660px;
                border-radius: 5px 5px 0 0;
                .filters__list__text {
                    opacity: 0.4;
                }
            }
        }
        &__btn {
            padding: 1.2em 1em;
            &__icon {
                transition: all 200ms;
                pointer-events: none;
            }
            &:hover > &__icon {
                transform: scale(1.2);
            }
            &__search {
                padding: 0;
                & .filters__list__btn__icon {
                    pointer-events: all;
                    padding: 1.2em 1em;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
        &__text {
            pointer-events: none;
        }
        &__ul {
            position: absolute;
            width: 660px;
            border-radius: 0 0 5px 5px;
            padding: 0 1.2em 1.2em 1.2em;
            flex-wrap: wrap;
            row-gap: 10px;
            color: $colour-white;
            & .filter {
                flex: 1 0 26%;
            }
            & li {
                cursor: pointer;
            }
        }
        &__search {
            color: $colour-white;
            padding : 1em;
            outline: none;
            border: none;
            background-color: transparent;
            width: 100%;
            height: 100%;
        }
    }
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    .recipe {
        display: flex;
        flex-direction: column;
        flex: 1 0 26%;
        overflow: hidden;
        @include responsive(1314) {
            flex-basis: 34%;
        }
        @include responsive(860) {
            flex-basis: 51%;
        }
        &picture {
            width: 100%;
            height: 11em;
            background-color: #b8b8b8;
            border-radius: 0.5em 0.5em 0 0;
        }
        &text{
            height: 11em;
            background-color: #d8d8d8;
            border-radius: 0 0 0.5em 0.5em;
            padding: 1.25em;
            &__titletime {
                display: flex;
                .titletime {
                    &__title {
                        flex: 1 0 1%;
                        @include line-ellipsis;
                    }
                    &__time {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                    }
                }
            }
            &__ingdesc {
                display: flex;
                padding-top: 1.1em;
                gap: 1em;
                &__child {
                    flex: 1 0 34%;
                }
                // .ingdesc__description {
                //     @include text-ellipsis;
                // }
            }
        }
    }
}